body {
    background-color: #ffffff;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #fffb00;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 4px solid rgb(10, 25, 236);
}
.logo {
    width: 200px;
}
.logo img {
    width: 80px;
}
.logo img:hover {
    transform: scale(.9);
    transition: all .4s ease-in-out;
}
nav {
    background-color: #fffb00;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}
li {
    margin-right: 20px;
}
a{
    text-decoration: none;
    font-size: larger;
}a:hover {
text-decoration: underline;
text-underline-offset: 8px;
text-decoration-color:rgb(248, 3, 3);
}
.hero img {
width: 100%;
}